#include <physical_layouts.dtsi>

/ {
    layout_0: layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOU0";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   94  131 (-1000)   144   181>
            , <&key_physical_attrs 100 100  209   55  (-400)   259   105>
            , <&key_physical_attrs 100 100  323    0       0     0     0>
            , <&key_physical_attrs 100 100  423   47       0     0     0>
            , <&key_physical_attrs 100 100  523   63       0     0     0>
            , <&key_physical_attrs 100 100 1196   63       0     0     0>
            , <&key_physical_attrs 100 100 1296   47       0     0     0>
            , <&key_physical_attrs 100 100 1396    0       0     0     0>
            , <&key_physical_attrs 100 100 1511   55     400  1561   105>
            , <&key_physical_attrs 100 100 1626  131    1000  1676   181>
            , <&key_physical_attrs 100 100    8  222 (-1000)    58   272>
            , <&key_physical_attrs 100 100  111  230 (-1000)   161   280>
            , <&key_physical_attrs 100 100  215  155  (-400)   266   205>
            , <&key_physical_attrs 100 100  323  100       0     0     0>
            , <&key_physical_attrs 100 100  423  148       0     0     0>
            , <&key_physical_attrs 100 100  523  164       0     0     0>
            , <&key_physical_attrs 100 100 1196  164       0     0     0>
            , <&key_physical_attrs 100 100 1296  148       0     0     0>
            , <&key_physical_attrs 100 100 1396  100       0     0     0>
            , <&key_physical_attrs 100 100 1504  155     400  1554   205>
            , <&key_physical_attrs 100 100 1608  230    1000  1658   280>
            , <&key_physical_attrs 100 100 1711  222    1000  1761   272>
            , <&key_physical_attrs 100 100   25  320 (-1000)    75   370>
            , <&key_physical_attrs 100 100  129  329 (-1000)   179   379>
            , <&key_physical_attrs 100 100  223  255  (-400)   273   305>
            , <&key_physical_attrs 100 100  323  201       0     0     0>
            , <&key_physical_attrs 100 100  423  248       0     0     0>
            , <&key_physical_attrs 100 100  523  264       0     0     0>
            , <&key_physical_attrs 100 100 1196  264       0     0     0>
            , <&key_physical_attrs 100 100 1296  248       0     0     0>
            , <&key_physical_attrs 100 100 1396  201       0     0     0>
            , <&key_physical_attrs 100 100 1497  255     400  1547   305>
            , <&key_physical_attrs 100 100 1591  329    1000  1641   379>
            , <&key_physical_attrs 100 100 1694  320    1000  1744   370>
            , <&key_physical_attrs 100 100  408  364       0     0     0>
            , <&key_physical_attrs 100 100  519  379    1500   569   429>
            , <&key_physical_attrs 100 100  622  422    3000   672   472>
            , <&key_physical_attrs 100 100  711  491 (-4500)   761   541>
            , <&key_physical_attrs 100 100  657  286       0     0     0>
            , <&key_physical_attrs 100 100 1062  286       0     0     0>
            , <&key_physical_attrs 100 100 1008  491    4500  1058   541>
            , <&key_physical_attrs 100 100 1097  422 (-3000)  1147   472>
            , <&key_physical_attrs 100 100 1200  379 (-1500)  1250   429>
            , <&key_physical_attrs 100 100 1311  364       0     0     0>
            ;
    };

    layout_1: layout_1 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOU1";
        transform = <&default_transform>;
        
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   94  131 (-1000)   144   181>
            , <&key_physical_attrs 100 100  209   55  (-400)   259   105>
            , <&key_physical_attrs 100 100  323    0       0     0     0>
            , <&key_physical_attrs 100 100  423   47       0     0     0>
            , <&key_physical_attrs 100 100  523   63       0     0     0>
            , <&key_physical_attrs 100 100 1196   63       0     0     0>
            , <&key_physical_attrs 100 100 1296   47       0     0     0>
            , <&key_physical_attrs 100 100 1396    0       0     0     0>
            , <&key_physical_attrs 100 100 1511   55     400  1561   105>
            , <&key_physical_attrs 100 100 1626  131    1000  1676   181>
//            , <&key_physical_attrs 100 100    8  222 (-1000)    58   272>
            , <&key_physical_attrs 100 100  111  230 (-1000)   161   280>
            , <&key_physical_attrs 100 100  215  155  (-400)   266   205>
            , <&key_physical_attrs 100 100  323  100       0     0     0>
            , <&key_physical_attrs 100 100  423  148       0     0     0>
            , <&key_physical_attrs 100 100  523  164       0     0     0>
            , <&key_physical_attrs 100 100 1196  164       0     0     0>
            , <&key_physical_attrs 100 100 1296  148       0     0     0>
            , <&key_physical_attrs 100 100 1396  100       0     0     0>
            , <&key_physical_attrs 100 100 1504  155     400  1554   205>
            , <&key_physical_attrs 100 100 1608  230    1000  1658   280>
//          , <&key_physical_attrs 100 100 1711  222    1000  1761   272>
//          , <&key_physical_attrs 100 100   25  320 (-1000)    75   370>
            , <&key_physical_attrs 100 100  129  329 (-1000)   179   379>
            , <&key_physical_attrs 100 100  223  255  (-400)   273   305>
            , <&key_physical_attrs 100 100  323  201       0     0     0>
            , <&key_physical_attrs 100 100  423  248       0     0     0>
            , <&key_physical_attrs 100 100  523  264       0     0     0>
            , <&key_physical_attrs 100 100 1196  264       0     0     0>
            , <&key_physical_attrs 100 100 1296  248       0     0     0>
            , <&key_physical_attrs 100 100 1396  201       0     0     0>
            , <&key_physical_attrs 100 100 1497  255     400  1547   305>
            , <&key_physical_attrs 100 100 1591  329    1000  1641   379>
//          , <&key_physical_attrs 100 100 1694  320    1000  1744   370>
            , <&key_physical_attrs 100 100  408  364       0     0     0>
            , <&key_physical_attrs 100 100  519  379    1500   569   429>
            , <&key_physical_attrs 100 100  622  422    3000   672   472>
//            , <&key_physical_attrs 100 100  711  491 (-4500)   761   541>
            , <&key_physical_attrs 100 100  657  286       0     0     0>
            , <&key_physical_attrs 100 100 1062  286       0     0     0>
//          , <&key_physical_attrs 100 100 1008  491    4500  1058   541>
            , <&key_physical_attrs 100 100 1097  422 (-3000)  1147   472>
            , <&key_physical_attrs 100 100 1200  379 (-1500)  1250   429>
            , <&key_physical_attrs 100 100 1311  364       0     0     0>
            ;
    };

    layout_2: layout_2 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOU2";
        transform = <&default_transform>;
        
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   94  131 (-1000)   144   181>
            , <&key_physical_attrs 100 100  209   55  (-400)   259   105>
            , <&key_physical_attrs 100 100  323    0       0     0     0>
            , <&key_physical_attrs 100 100  423   47       0     0     0>
            , <&key_physical_attrs 100 100  523   63       0     0     0>
            , <&key_physical_attrs 100 100 1196   63       0     0     0>
            , <&key_physical_attrs 100 100 1296   47       0     0     0>
            , <&key_physical_attrs 100 100 1396    0       0     0     0>
            , <&key_physical_attrs 100 100 1511   55     400  1561   105>
            , <&key_physical_attrs 100 100 1626  131    1000  1676   181>
            , <&key_physical_attrs 100 100    8  222 (-1000)    58   272>
            , <&key_physical_attrs 100 100  111  230 (-1000)   161   280>
            , <&key_physical_attrs 100 100  215  155  (-400)   266   205>
            , <&key_physical_attrs 100 100  323  100       0     0     0>
            , <&key_physical_attrs 100 100  423  148       0     0     0>
            , <&key_physical_attrs 100 100  523  164       0     0     0>
            , <&key_physical_attrs 100 100 1196  164       0     0     0>
            , <&key_physical_attrs 100 100 1296  148       0     0     0>
            , <&key_physical_attrs 100 100 1396  100       0     0     0>
            , <&key_physical_attrs 100 100 1504  155     400  1554   205>
            , <&key_physical_attrs 100 100 1608  230    1000  1658   280>
            , <&key_physical_attrs 100 100 1711  222    1000  1761   272>
            , <&key_physical_attrs 100 100   25  320 (-1000)    75   370>
            , <&key_physical_attrs 100 100  129  329 (-1000)   179   379>
            , <&key_physical_attrs 100 100  223  255  (-400)   273   305>
            , <&key_physical_attrs 100 100  323  201       0     0     0>
            , <&key_physical_attrs 100 100  423  248       0     0     0>
            , <&key_physical_attrs 100 100  523  264       0     0     0>
            , <&key_physical_attrs 100 100 1196  264       0     0     0>
            , <&key_physical_attrs 100 100 1296  248       0     0     0>
            , <&key_physical_attrs 100 100 1396  201       0     0     0>
            , <&key_physical_attrs 100 100 1497  255     400  1547   305>
            , <&key_physical_attrs 100 100 1591  329    1000  1641   379>
            , <&key_physical_attrs 100 100 1694  320    1000  1744   370>
            , <&key_physical_attrs 100 100  408  364       0     0     0>
            , <&key_physical_attrs 100 100  519  379    1500   569   429>
            , <&key_physical_attrs 100 100  622  422    3000   672   472>
//            , <&key_physical_attrs 100 100  711  491 (-4500)   761   541>
            , <&key_physical_attrs 100 100  657  286       0     0     0>
            , <&key_physical_attrs 100 100 1062  286       0     0     0>
//          , <&key_physical_attrs 100 100 1008  491    4500  1058   541>
            , <&key_physical_attrs 100 100 1097  422 (-3000)  1147   472>
            , <&key_physical_attrs 100 100 1200  379 (-1500)  1250   429>
            , <&key_physical_attrs 100 100 1311  364       0     0     0>
            ;
    };
    layout_3: layout_3 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOU3";
        transform = <&default_transform>;
        
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   94  131 (-1000)   144   181>
            , <&key_physical_attrs 100 100  209   55  (-400)   259   105>
            , <&key_physical_attrs 100 100  323    0       0     0     0>
            , <&key_physical_attrs 100 100  423   47       0     0     0>
            , <&key_physical_attrs 100 100  523   63       0     0     0>
            , <&key_physical_attrs 100 100 1196   63       0     0     0>
            , <&key_physical_attrs 100 100 1296   47       0     0     0>
            , <&key_physical_attrs 100 100 1396    0       0     0     0>
            , <&key_physical_attrs 100 100 1511   55     400  1561   105>
            , <&key_physical_attrs 100 100 1626  131    1000  1676   181>
//          , <&key_physical_attrs 100 100    8  222 (-1000)    58   272>
            , <&key_physical_attrs 100 100  111  230 (-1000)   161   280>
            , <&key_physical_attrs 100 100  215  155  (-400)   266   205>
            , <&key_physical_attrs 100 100  323  100       0     0     0>
            , <&key_physical_attrs 100 100  423  148       0     0     0>
            , <&key_physical_attrs 100 100  523  164       0     0     0>
            , <&key_physical_attrs 100 100 1196  164       0     0     0>
            , <&key_physical_attrs 100 100 1296  148       0     0     0>
            , <&key_physical_attrs 100 100 1396  100       0     0     0>
            , <&key_physical_attrs 100 100 1504  155     400  1554   205>
            , <&key_physical_attrs 100 100 1608  230    1000  1658   280>
//          , <&key_physical_attrs 100 100 1711  222    1000  1761   272>
//          , <&key_physical_attrs 100 100   25  320 (-1000)    75   370>
            , <&key_physical_attrs 100 100  129  329 (-1000)   179   379>
            , <&key_physical_attrs 100 100  223  255  (-400)   273   305>
            , <&key_physical_attrs 100 100  323  201       0     0     0>
            , <&key_physical_attrs 100 100  423  248       0     0     0>
            , <&key_physical_attrs 100 100  523  264       0     0     0>
            , <&key_physical_attrs 100 100 1196  264       0     0     0>
            , <&key_physical_attrs 100 100 1296  248       0     0     0>
            , <&key_physical_attrs 100 100 1396  201       0     0     0>
            , <&key_physical_attrs 100 100 1497  255     400  1547   305>
            , <&key_physical_attrs 100 100 1591  329    1000  1641   379>
//          , <&key_physical_attrs 100 100 1694  320    1000  1744   370>
            , <&key_physical_attrs 100 100  408  364       0     0     0>
            , <&key_physical_attrs 100 100  519  379    1500   569   429>
            , <&key_physical_attrs 100 100  622  422    3000   672   472>
            , <&key_physical_attrs 100 100  711  491 (-4500)   761   541>
            , <&key_physical_attrs 100 100  657  286       0     0     0>
            , <&key_physical_attrs 100 100 1062  286       0     0     0>
            , <&key_physical_attrs 100 100 1008  491    4500  1058   541>
            , <&key_physical_attrs 100 100 1097  422 (-3000)  1147   472>
            , <&key_physical_attrs 100 100 1200  379 (-1500)  1250   429>
            , <&key_physical_attrs 100 100 1311  364       0     0     0>
            ;
    };
position_map {
        compatible = "zmk,physical-layout-position-map";

        complete;

        layout_0 {
            physical-layout = <&layout_0>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15>
                , <16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31>
                , <32 33 34 35 36 37 38 39 40 41 42 43>
                ;
        };

        layout_1 {
            physical-layout = <&layout_1>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 38 10 11 12 13 14>
                , <15 16 17 18 19 39 40 20 21 22 23 24 25 26 27 28>
                , <29 41 30 31 32 42 33 34 43 35 36 37>
                ;
        };

        layout_2 {
            physical-layout = <&layout_2>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15>
                , <16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31>
                , <32 33 34 35 36 42 37 38 43 39 40 41>
                ;
        };

        layout_3 {
            physical-layout = <&layout_3>;
            positions
                = < 0  1  2  3  4  5  6  7  8  9 40 10 11 12 13 14>
                , <15 16 17 18 19 41 42 20 21 22 23 24 25 26 27 28>
                , <29 43 30 31 32 33 34 35 36 37 38 39>
                ;
        };
    };
};