/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        LAYER0 {
            bindings = <
           &kp Q     &kp W  &kp E      &kp R          &kp T       &kp Y      &kp U      &kp I      &kp O  &kp P
&kp LCTRL  &kp A     &kp S  &kp D      &kp F          &kp G       &kp H      &kp J      &kp K      &kp L  &kp SEMI   &kp SQT
&kp LSHFT  &kp Z     &kp X  &kp C      &kp V          &kp B       &kp LBKT   &kp RBKT   &kp N      &kp M  &kp COMMA  &kp PERIOD
           &kp LEFT  &mo 1  &kp SPACE  &kp BACKSPACE  &kp C_MUTE  &kp SPACE  &kp SPACE  &kp ENTER  &mo 1  &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
            display-name = "LAYER 0";
        };

        LAYER1 {
            bindings = <
           &kp EXCL  &kp AT     &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR
&kp LCTRL  &trans    &trans     &trans    &trans    &trans     &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans     &trans    &trans    &trans     &trans     &trans     &kp UNDER        &kp PLUS  &kp LBRC  &kp RBRC
           &trans    &trans     &trans    &trans    &trans     &trans     &trans     &trans           &trans    &trans
                      >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
            display-name = "LAYER 1";
        };

        LAYER2 {
            bindings = <
        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6     &kp N7    &kp N8    &kp N9     &kp N0
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp UP     &kp DOWN  &kp LEFT  &kp RIGHT  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans     &trans    &trans    &trans     &trans  &trans
        &trans        &trans        &trans        &trans        &kp C_MUTE    &kp SPACE  &trans    &trans    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
            display-name = "LAYER 2";
        };
                extra1 {
            status = "reserved";
                display-name = "LAYER 3";
        };
        extra2 {
            status = "reserved";
                display-name = "LAYER 4";
        };
        extra3 {
            status = "reserved";
                display-name = "LAYER 5";
        };
        extra4 {
            status = "reserved";
                display-name = "LAYER 6";
        };
    };
};
